---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Home";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Who Am I?</h1>
    <span class="badge">Digital Craftsman (Developer)</span>
    <h2>About</h2>
    <p>
        Hello! My name is Cynthia, a undergraduate computer science student at Georgia Tech.
	I love working on full-stack projects, with a interest in front-end specifically.
	I have experience in Java, Python, HTML, CSS, Unity, C#, C++ and more!
	Please take a look around and check what I've worked on so far!
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <p>
    Languages: Python, Java, C#, HTML, CSS, C, C++, MySQL \n
    </p>
    <p>
    Frameworks/Libraries: Unity, pandas, NumPy, React
    </p>
    <p>
    Developer Tools: Git, Docker, VS Code, Visual Studio, IntelliJ, Azure DevOps, Android Studio, MySQL Workbench,
        RStudio, Processing
    </p>
    <h2>Interests</h2>
    <p>
        I love to keep myself busy and learn new skills! I love expanding that I can do and picking up new skills in my free time!
	I also love expressing my creativity through digital art, and have started a small business on Etsy selling stickers.
	Among the skills I've dabbled in is Blender, 2D animation, Unity shaders, music-making, game development, and more!
    </p>
</Layout>
